<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="handus.dao.AuctionDao">
	
	<select id="selectAuctionList" parameterType="int" resultType="auction">
		<![CDATA[
		select rn, A_PK, M_PK_WRITER, A_TITLE, A_READCOUNT , 
        ( select ag_bidding
          		   from (select /*+ INDEX (ag AG_BIDDING_INDEX)*/
                			 rownum rn, ag_bidding
			   					from AUCTION_GRAPH ag
			   						where ag.a_pk = aa.a_pk)
                   								where rn = 1 )  as a_currentprice ,
            ( select  hi_pk
                    from HANDUS_IMAGE hi
                        where hi.hi_fk = aa.a_pk and hi.hi_main = 1
              )  as ai_pk
                        
			from
				( select  /*+ INDEX_DESC (a AUCTION_PK)*/
                    rownum rn, A_PK, M_PK_WRITER, A_TITLE, A_READCOUNT 
		 	 		from AUCTION a where 
		 ]]>
		 	<choose>
		 		<when test="type == 'wood'">
		 			c_pk = 6 and
		 		</when>
		 		<when test="type == 'ceramics'">
		 			c_pk = 1 and
		 		</when>
		 		<when test="type == 'metal'">
		 			c_pk = 2 and
		 		</when>
		  		<when test="type == 'glass'">
		 			c_pk = 3 and
		 		</when>
		 		<when test="type == 'embroidery'">
		 			c_pk = 4 and
		 		</when>
		 		<when test="type == 'leather'">
		 			c_pk = 5 and
		 		</when>
		 	</choose>
		 <![CDATA[
		  		
		 	 		rownum <= #{page} * 6
		 	 	) aa
		 	 	where rn > (#{page} -1) * 6
		]]>
	</select>
	
	<select id="selectAuctionCount" resultType="int">
		select count(*)
			from auction
			<trim prefix="where">
				<choose>
			 		<when test="type == 'wood'">
			 			c_pk = 6 
			 		</when>
			 		<when test="type == 'ceramics'">
			 			c_pk = 1 
			 		</when>
			 		<when test="type == 'metal'">
			 			c_pk = 2 
			 		</when>
			  		<when test="type == 'glass'">
			 			c_pk = 3 
			 		</when>
			 		<when test="type == 'embroidery'">
			 			c_pk = 4 
			 		</when>
			 		<when test="type == 'leather'">
			 			c_pk = 5
			 		</when>
			 	</choose>
		 	</trim>
	</select>
	
	<select id="selectAuction" parameterType="int" resultType="map">
		select a_pk, m_pk_writer, a_title, a_startprice, a_endprice, c_category, a_regDate, a_starttime, a_end, a_start,
			   a_endTime, a_readcount, a_comment , a_currentprice, to_char(ag_regdate,'yyyy/MM/dd HH:mm') as ag_regdate,
			   a_country, a_size, a_color,a_details,
			   au.at_name,
			   (select count(*) from member_subscribe where ms_type = 3 and ms_fk = #{a_pk}) as a_subscribe
		from AUCTION a JOIN CATEGORYNAME c ON (a.c_pk = c.c_pk) join AUTHOR au on (a.m_pk_writer = au.m_pk ) 
			 join HANDUS_IMAGE hi on (hi.hi_fk = a.a_pk and hi.hi_main = 1 and hi.hi_type = 2),
			   <!-- 최근 입찰 가격 가져오는 서브쿼리 -->
				( select ag_bidding as a_currentprice, ag_regdate
          		   from (select /*+ INDEX (ag AG_BIDDING_INDEX)*/
                			 rownum rn, ag_bidding ,ag_regdate
			   					from AUCTION_GRAPH ag
			   						where a_pk = #{a_pk})
                   								where rn = 1 )   
			
		where a_pk = #{a_pk}
	</select>
	
	<select id="selectAuctionGraphData" parameterType="int" resultType="int">
		select AG_BIDDING from AUCTION_GRAPH where a_pk = #{a_pk} order by ag_bidding
	</select>
	
	<select id="selectAuctionRegDate" parameterType="int" resultType="date">
		select ag_regdate from AUCTION_GRAPH where ag_pk = #{ag_pk}
	</select>
	
	<insert id="insertBidding" parameterType="int">
		<selectKey order="BEFORE" keyProperty="ag_pk" resultType="int" >
			select AUCTION_GRAPH_SEQ.NEXTVAL from dual
		</selectKey>
		insert into AUCTION_GRAPH (AG_PK, M_PK_USER, AG_BIDDING, A_pK) 
			values ( #{ag_pk}, #{m_pk_user}, #{ag_bidding}, #{a_pk} )
	</insert>
</mapper>