<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="handus.dao.AuctionDao">
	
	<select id="selectAuctionList" resultType="auction">
		select * from AUCTION
	</select>
	
	<select id="selectAuction" parameterType="int" resultType="auction">
		select a_pk, m_pk_writer, a_title, a_startprice, a_endprice, c_category, a_regDate, a_starttime, a_end, a_start,
			   a_endTime, a_readcount, a_comment, r_pk, a_subscribe , a_currentprice, ag_regdate
			   
		from AUCTION a JOIN CATEGORYNAME c ON (a.c_pk = c.c_pk),
			   <!-- 최근 입찰 가격 가져오는 서브쿼리 -->
				( select ag_bidding as a_currentprice, ag_regdate
          		   from (select /*+ INDEX (ag AG_BIDDING_INDEX)*/
                			 rownum rn, ag_bidding ,ag_regdate
			   					from AUCTION_GRAPH ag
			   						where a_pk = #{a_pk})
                   								where rn = 1 )   
			
		where a_pk = #{a_pk}
	</select>
	
	<select id="selectAuctionImagePath" parameterType="int" resultType="handusImage">
		select  AI_SAVEPATH as img_savePath ,AI_FILENAME as img_fileName 
			from AUCTION_IMAGE 
				where ai_pk = #{ai_pk}
	</select>
	
	<select id="selectImgListByA_pk" parameterType="int" resultType="handusImage">
		select AI_PK as img_pk , AI_FILENAME as img_fileName , AI_SAVEPATH as img_savePath
			FROM AUCTION_IMAGE
			where A_PK = #{a_pk}
	</select>
	
	<select id="selectAuctionGraphData" parameterType="int" resultType="int">
		select AG_BIDDING from AUCTION_GRAPH where a_pk = #{a_pk} order by ag_bidding
	</select>
	
	<select id="selectAuctionRegDate" parameterType="int" resultType="date">
		select ag_regdate from AUCTION_GRAPH where ag_pk = #{ag_pk}
	</select>
	
	<insert id="insertBidding" parameterType="int">
		<selectKey order="BEFORE" keyProperty="ag_pk" resultType="int" >
			select AUCTION_GRAPH_SEQ.NEXTVAL from dual
		</selectKey>
		insert into AUCTION_GRAPH (AG_PK, M_PK_USER, AG_BIDDING, A_pK) 
			values ( #{ag_pk}, #{m_pk_user}, #{ag_bidding}, #{a_pk} )
	</insert>
</mapper>