<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="handus.dao.AuthorDao">

	<insert id="insertAuction" parameterType="HashMap">
		<selectKey order="BEFORE" keyProperty="a_pk" resultType="int">
			select AUCTION_SEQ.NEXTVAL from dual
		</selectKey>
		insert all
		
		 into AUCTION
			(A_PK, M_PK_WRITER, A_TITLE, A_STARTPRICE, C_PK, A_STARTTIME,A_ENDTIME,A_COMMENT,A_COUNTRY,A_MATERIAL,A_COLOR,A_SIZE,A_DETAILS)
		values 
		(#{a_pk} ,#{m_pk_writer} ,#{a_title}, #{a_startPrice}, #{c_pk}, #{a_startTime},#{a_endTime} , 
			#{a_comment}, #{a_country}, #{a_material}, #{a_color},#{a_size},#{a_details})
			
		into AUCTION_GRAPH
			(AG_PK, A_PK, M_PK_USER, AG_BIDDING, AG_REGDATE)
		values
		( AUCTION_GRAPH_SEQ.NEXTVAL,#{a_pk} ,#{m_pk_writer}, #{a_startPrice}, #{a_startTime})
		
		select * from dual
	</insert>
	
	<insert id="insertStudio" parameterType="HashMap">
		<selectKey order="BEFORE" keyProperty="s_pk" resultType="int">
			select STUDIO_SEQ.NEXTVAL from dual
		</selectKey>
		insert into STUDIO
			(S_PK, S_TITLE, M_PK_WRITER,S_PRICE, S_LOCATION, S_CATEGORY, S_MAXIMUM, S_CLASSSTART, S_CLASSEND, S_CONTENT,S_COMMENT, S_NAME)
		values (#{s_pk}, #{s_title}, #{m_pk_writer}, #{s_price}, #{s_location}, #{c_pk}, #{s_maximum},#{s_classstart},#{s_classend}, #{s_content},
				#{s_comment}, #{s_name})
	</insert>
	
	<insert id="insertItem" parameterType="HashMap">
		<selectKey order="BEFORE" keyProperty="i_pk" resultType="int">
			select ITEM_SEQ.NEXTVAL from dual
		</selectKey>
		insert into ITEM
			(I_PK,I_TITLE, M_PK_WRITER, I_PRICE, I_CATEGORY,I_STOCK,I_COMMENT,I_CONTENT, I_COUNTRY, I_MATERIAL, I_COLOR,I_SIZE)
		values (#{i_pk}, #{i_title}, #{m_pk_writer}, #{i_price}, #{c_pk}, #{i_stock}, #{i_comment}, #{i_details}, #{i_country}, #{i_material},
				#{i_color}, #{i_size})
	</insert>
	
	<insert id="insertImage">
		insert all
		<foreach collection="imgList.imgList" item="item">
		into HANDUS_IMAGE
			(HI_PK, HI_FILENAME, HI_SAVEPATH, HI_FK, HI_MAIN, HI_TYPE) 
			values (get_pk_img, #{item.img_fileName}, #{item.img_savePath}, #{item.img_fk}, #{item.img_main},
			<if test="type == 'item'">
				1
			</if>
			<if test="type == 'auction'">
				2
			</if>
			<if test="type == 'studio'">
				3
			</if>			
			)
		</foreach>
		select * from dual
	</insert>
	
	<select id="getListOfAuthor" resultType="map">
		select *
			from 
				<choose>
					<when test="type == 1">
						ITEM i join HANDUS_IMAGE hi on (i.i_pk = hi.hi_fk and hi.hi_main = 1 and hi.hi_type = 1)
					</when>
					<when test="type == 2">
						AUCTION a join HANDUS_IMAGE hi on (a.a_pk = hi.hi_fk and hi.hi_main = 1 and hi.hi_type = 2) 
					</when>
					<when test="type == 3">
						STUDIO s join HANDUS_IMAGE hi on (s.s_pk = hi.hi_fk and hi.hi_main = 1 and hi.hi_type = 3)
					</when>
				</choose>
			where m_pk_writer = #{m_pk_writer}
	</select>
	
	<insert id="insertAuthor" parameterType="map">
		insert into AUTHOR
			(AT_PK, M_PK, AT_NAME, AT_EMAIL, AT_STUDIO, AT_ADDRESS)
			values	(MEMBER_SEQ.NEXTVAL, #{m_pk}, #{at_name}, #{at_email}, #{at_studio}, #{at_address})
	</insert>
	
	<insert id="insertAuthorImage" parameterType="HashMap">
		<selectKey order="BEFORE" keyProperty="hi_pk"  resultType="int">
			select IMAGE_SEQ.NEXTVAL from dual		
		</selectKey>
		insert into HANDUS_IMAGE
			(HI_PK, HI_FILENAME, HI_SAVEPATH, HI_FK, HI_MAIN, HI_TYPE)
		values (#{hi_pk}, #{hi_filename}, #{hi_savepath}, #{m_pk}, 1,4)			
	</insert>
	
	<update id="updateAuthor" parameterType="map">
		update AUTHOR
			set at_name = #{at_name}, at_email = #{at_email}, at_studio = #{at_studio}, at_address = #{at_address}
				where m_pk = #{m_pk}
	</update>
	
	<update id="updateAuthorImage" parameterType="map">
		update HANDUS_IMAGE
			SET HI_MAIN = 0 
				WHERE HI_FK = #{m_pk} and HI_PK != #{hi_pk}
	</update>
	
	<select id="selectAuthorInfo" parameterType="int" resultType="map">
		select at_pk, at_name, at_email, at_studio, at_address , hi_pk, hi_filename, hi_savepath , hi.hi_fk as m_pk_writer
			from author at left outer join HANDUS_IMAGE hi on (at.m_pk = hi.hi_fk and hi.hi_main = 1 and hi.hi_type = 4)
				where at.m_pk = #{m_pk}
	</select>
</mapper>