<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="handus.dao.UserDao">
	
	<insert id="insertSubscribe" parameterType="map">
		insert into MEMBER_SUBSCRIBE
			(MS_PK, M_PK_USER, MS_TYPE, MS_FK)
		values (MEMBER_SUBSCRIBE_SEQ.NEXTVAL, #{m_pk_user}, #{ms_type}, #{ms_fk})
	</insert>
	
	<select id="selectSubscribe" parameterType="map" resultType="map">
		select MS_PK, M_PK_USER, MS_TYPE, MS_FK
			from MEMBER_SUBSCRIBE
				where m_pk_user = #{m_pk_user} and ms_type = #{ms_type} and ms_fk = #{ms_fk}
	</select>
	
	<delete id="deleteSubscribe" parameterType="map">
		delete from MEMBER_SUBSCRIBE
			where m_pk_user = #{m_pk_user} and ms_type = #{ms_type} and ms_fk = #{ms_fk}
	</delete>
	
	<select id="selectSubsListData" resultType="map">
		select *
			from
			<choose>
				<when test="type == 1">
					MEMBER 
				</when>
				<when test="type == 2">
					STUDIO
				</when>
				<when test="type == 3">
					AUCTION
				</when>
			</choose> 			
				msa join 
					( select ms_fk
						from MEMBER_SUBSCRIBE
							where m_pk_user = #{m_pk_user} and ms_type = #{type} ) fk on 
			<choose>
				<when test="type == 1">
					(msa.m_pk = fk.ms_fk) join AUTHOR ah on (ah.m_pk = msa.m_pk) 
						left outer join HANDUS_IMAGE hi on (hi.hi_fk = msa.m_pk AND hi_main = 1 AND hi.hi_type = 4)
				</when>
				<when test="type == 2">
					(msa.s_pk = fk.ms_fk) join CATEGORYNAME c on (msa.s_category = c.c_pk)
						left outer join HANDUS_IMAGE hi on (hi.hi_fk = msa.s_pk and hi_main = 1 AND hi_type = 3)
				</when>
				<when test="type == 3">
					(msa.a_pk = fk.ms_fk) join HANDUS_IMAGE hi on (msa.a_pk = hi.hi_fk and hi.hi_main = 1 AND hi.hi_type = 2) 
						join CATEGORYNAME c on (msa.c_pk = c.c_pk) join auction_graph ag on (msa.a_pk = ag.a_pk)
						where ag.ag_bidding = ( select max(ag.ag_bidding) from auction_graph ag where msa.a_pk = ag.a_pk )
				</when>
			</choose>				
	</select>
	
	<select id="selectUserByPk" parameterType="int" resultType="map">
		select M_NAME, M_EMAIL, M_PHONENUM ,M_ADDRESS ,
				(select count(*) from MEMBER_SUBSCRIBE where m_pk_user = #{m_pk}) as M_SUB_COUNT
			from MEMBER m 
				where m_pk = #{m_pk}
	</select>
	
	<update id="updateUserInfo" parameterType="map">
		update MEMBER set m_name =#{m_name} , m_phonenum = #{m_phonenum} , m_email = #{m_email} , m_address = #{m_address}
			where m_pk = #{m_pk}
	</update>
</mapper>
