@charset "UTF-8";

form {
	margin: 0;
	padding: 0;
	border: 0;
}

.faq_wrap .title_top h3 {
	text-align: center;
	font-weight: bold;
	font-size: 40pt;
}

.faq_wrap .title_top h3:after {
	content: " ";
	display: block;
	width: 120px;
	border-bottom: 1px solid #bcbcbc;
	margin: 20px auto;
}

/* faq 메뉴 탭*/
#faq-wrap {
	width: 1250px;
	min-height: 800px;
	margin: 0 auto;
	line-height: 0;
}

.faq-title-wrap {
	height: 94px;
	text-align: center;
	margin-top: 50px;
}

.faq-title {
	line-height: 50px;
	font-weight: 900;
	font-size: 25pt;
	font-family: 'NanumSquare';
}

.faq-sub-title {
	line-height: 18pt;
	font-size: 11pt;
	font-weight: 100;
	color: #333333;
	height: 120px;
}

.faq-content-wrap .faq-title-table {
	width: 80%;
	text-align: center;
	font-weight: 400;
	font-size: 12pt;
	margin-left: 190px;
}

/* 고객센터 > FAQ 검색 */
.faq_search {
	overflow: hidden;
	width: 63.6%;
	height: 95px;
	margin: 35px 0 0;
	margin-left: 385px;
	padding: 30px 0 0;
	background: #e6d3bf;
	text-align: center;
}

.faq_search label {
	display: inline-block;
	margin: 0 20px 0 0;
	color: #222;
	font-size: 20px;
	line-height: 38px;
	vertical-align: middle
}

.faq_search .input {
	display: inline-block;
	overflow: hidden;
	width: 420px;
	height: 48px;
	border-radius: 30px;
	border: 1px solid #ccc;
	background: #fff;
	vertical-align: middle;
}

.faq_search .input input[type="text"] {
	float: left;
	width: 75%;
	height: 44px;
	padding: 3px 10px 8px 18px;
	border: 0;
	font-size: 14px;
	line-height: 22px;
}

.faq_search .input input[type="text"]:focus {
	outline: none;
}

.faq_search .input input[type="submit"] {
	float: right;
	width: 25px;
	height: 27px;
	margin: 10px 19px 0 0;
	background:
		url("http://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_search25x27.png")
		no-repeat 0 0;
	font-size: 0;
	text-indent: -99999px;
	line-height: 0;
}

input[type="submit"], button {
	border: 0;
	padding: 0;
	box-shadow: none;
	cursor: pointer;
}

/* 고객센터 > 공통 게시판 */

.list-customer {
	width: 1020px;
	margin: 0 auto;
}

.faq-content-wrap {
	width: 100%;
	margin: 0 auto;
	margin-left: 500px;
	margin-top: 10px;
}


#faq_load {
	width: 100%;
	height: auto;
}

.faq-content-table {
	width: 100%;
}


.faq-detail {
	display: none;
}

.faq-detail td {
	font-weight: 500;
	color: #333333;
	white-space: pre-line;
	font-family: 'nanumgothic';
}

p {
	font-size: 13pt;
}

.font_Nanum {
	font-family: 'Nanum Barun Gothic', sans-serif;
}

/* wrap */

#faq-content-wrap{
	margin: 10px auto;
	padding: 0;
}

.tablist_menu {
	display:block;
	clear: both;
	margin: 0 0;
	padding: 0;
	border-left: 1px solid #gray;
	border-bottom: 1px solid #gray;
}

/* .tablist_menu .btnOn { */
/* 	float: left; */
/*     width: 16%; */
/*     width: calc(16.66% - 1px); */
/*     margin: 0 0; */
/*     padding: 0; */
/*     border: 1px #98ab12 solid; */
/*     border-left: none; */
/*     text-align: center; */
/*     vertical-align: middle; */
/*     cursor: pointer; */
/*     font-weight: bold; */
/*     color: #000; */
/*     height: 40px; */
/*     line-height: 40px; */
/*     background: #98ab12; */
/*     font-size: 13px; */
/* } */

/* .tablist_menu .btnOff { */
/* 	float: left; */
/*     width: 16%; */
/*     width: calc(16.66% - 1px); */
/*     height: 40px; */
/*     line-height: 40px; */
/*     margin: 0; */
/*     padding: 0; */
/*     border: 1px #eee solid; */
/*     border-left: none; */
/*     text-align: center; */
/*     vertical-align: middle; */
/*     cursor: pointer; */
/*     font-size: 13px; */
/*     color: #333; */
/*     background: #fafafa; */
/* } */

.tabBnr_menu:after {
    content: "";
    display: block;
    clear: both;
}


.tablist-contents{
	font-size: 13px;
    color: #333;
    padding-top: 15px;
}

.tablist-contents-faq {
	display : block;
	clear: both;
}


.tablist-contents-faq dt {
	font-weight: bold;
    border-bottom: 1px solid #dbd0ce;
    padding: 10px 35px;
    line-height: 18px;
    background: url(/web/upload/q.gif) no-repeat 5px 10px;
}

.tablist-contents-faq dd {
	display: none;
    padding: 8px 35px;
    line-height: 1.8;
    color: #666;
    border-bottom: 1px solid #dbd0ce;
    background: url(/web/upload/a.gif) no-repeat 5px 10px;
}













